body {
    background-color: rgb(70, 159, 243);
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a {
    background-color: rgb(170, 33, 170);
}

a:visited {
    color: black;
}

a:hover {
    background-color: seagreen;
}

a:active {

}

ul, ol {
    margin: auto;
    width: 50%;

}

li {
    margin-top: 2%;
    margin-bottom: 2%;
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: upper-roman;
}

h1, h2 {
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    
    font-weight: bold;
}

h2 {

}

p {
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 1200px
}